/* ===== FULLSCREEN IMAGE ===== */
.media-img {
  cursor: zoom-in;
}

.media-img.fullscreen {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  background: #000;
  z-index: 9999;
  cursor: zoom-out;
}

/* evita scroll sotto */
body.img-open {
  overflow: hidden;
}
